#info-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
  
    

    .add-to-cart{
        margin-right: 50px;
    }
    .search{
        margin-top: 60px;
        input{
            width: 500px;
            height: 50px;
            border-radius: 100px;
            text-align: center;
           
        }
        input::placeholder{
            text-align: center;
        }
        
    }
    .sign-in-add{
        margin-top: 70px;
        display: flex;
        .sign-in{
            margin-right: 20px;

        }
    }

    
}

body{
    height: 10000px;
}