.info-header{
    margin: 0 auto;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    height: 100px;
   
}
.logo{
    width: 200px;
    height: 100px;
    align-items: center;
}

.sign-in-add{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}


// Header section ends